<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="22.0.5973" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EventLogger" version="22.0.5973" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Scope" version="14.2.5973" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.ScopeControl" version="14.1.15" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Server.Engineering" version="22.0.5973" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.6.0-beta" developmentDependency="true" targetFramework="native1.12-tchmi" />
</packages>